* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000;
  font-family: Arial, sans-serif;
  color: white;
  min-height: 100vh;
    font-family: "Metamorphous", serif;

}

.titulo {
  text-align: center;
  margin: 40px 0;
  color: #ff2a2a;
  font-size: 48px;
    font-family: "Metamorphous", serif;
}

.grid {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  padding: 20px;
}

.card {
  background: #111;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 250px;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  border-radius: 8px;
}

.card h2 {
  margin: 15px 0 10px;
}

.card p {
  margin-bottom: 15px;
  color: #ccc;
    font-family: "Metamorphous", serif;

}

button {
  background: #ff2a2a;
  border: none;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
    font-family: "Metamorphous", serif;

}

button:hover {
  background: #cc0000;
}
.navbar {
  width: 100%;
  padding: 20px 40px;
  background: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #ff2a2a;
}

.logo {
  color: #ff2a2a;
  font-size: 28px;
  font-weight: bold;
}

.menu {
  list-style: none;
  display: flex;
  gap: 30px;
}

.menu li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  transition: 0.3s;
}

.menu li a:hover {
  color: #ff2a2a;
}